In [ ]:
''' 
Question : Perform the following operation using python language on the "Air Quality/Heart disease "
            - data cleaning 
            - data integration 
            - data transformation
            - data model building 

''' 

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
d_heart = pd.read_csv("/content/heart.csv")

In [ ]:
d_heart

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [ ]:
d_heart.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [ ]:
d_heart.duplicated().sum()

723

In [ ]:
d_heart.drop_duplicates(inplace = True)
d_heart

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,68,0,2,120,211,0,0,115,0,1.5,1,0,2,1
733,44,0,2,108,141,0,1,175,0,0.6,1,0,2,1
739,52,1,0,128,255,0,1,161,1,0.0,2,1,3,0
843,59,1,3,160,273,0,0,125,0,0.0,2,0,2,0
878,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [ ]:
d_heart.duplicated().sum()

0

In [ ]:
columns = ["age","sex","cp","thal"]
df1 = d_heart[columns].loc[0:15]
df1

    age  sex  cp  thal
0    52    1   0     3
1    53    1   0     3
2    70    1   0     3
3    61    1   0     3
4    62    0   0     2
5    58    0   0     2
6    58    1   0     1
7    55    1   0     3
8    46    1   0     3
9    54    1   0     2
10   71    0   0     2
11   43    0   0     3
12   34    0   1     2
13   51    1   0     3
14   52    1   0     0

In [ ]:
df2 = d_heart[columns].loc[16:30]
df2

    age  sex  cp  thal
16   51    0   2     2
17   54    1   0     3
18   50    0   1     2
19   58    1   2     2
20   60    1   2     2
21   67    0   0     2
22   45    1   0     2
23   63    0   2     2
24   42    0   2     2
25   61    0   0     3
26   44    1   2     2
27   58    0   1     2
28   56    1   2     1
29   55    0   0     2
30   44    1   0     1

In [ ]:
merging = pd.merge(df1,df2,on="age",how="inner")
merging

   age  sex_x  cp_x  thal_x  sex_y  cp_y  thal_y
0   61      1     0       3      0     0       3
1   58      0     0       2      1     2       2
2   58      0     0       2      0     1       2
3   58      1     0       1      1     2       2
4   58      1     0       1      0     1       2
5   55      1     0       3      0     0       2
6   54      1     0       2      1     0       3
7   51      1     0       3      0     2       2

In [ ]:
d_heart['target'] = d_heart['target'].apply(lambda x:1 if x>0 else 0 )
d_heart

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,68,0,2,120,211,0,0,115,0,1.5,1,0,2,1
733,44,0,2,108,141,0,1,175,0,0.6,1,0,2,1
739,52,1,0,128,255,0,1,161,1,0.0,2,1,3,0
843,59,1,3,160,273,0,0,125,0,0.0,2,0,2,0
878,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [ ]:
from sklearn.model_selection import train_test_split

x = merging.drop(["age"],axis=1)
x

   sex_x  cp_x  thal_x  sex_y  cp_y  thal_y
0      1     0       3      0     0       3
1      0     0       2      1     2       2
2      0     0       2      0     1       2
3      1     0       1      1     2       2
4      1     0       1      0     1       2
5      1     0       3      0     0       2
6      1     0       2      1     0       3
7      1     0       3      0     2       2

In [ ]:
y = merging["thal_y"]
y

0    3
1    2
2    2
3    2
4    2
5    2
6    3
7    2
Name: thal_y, dtype: int64

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [ ]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()

In [ ]:
logreg.fit(x_train,y_train)

LogisticRegression()

In [ ]:
y_pred = logreg.predict(x_test)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix

In [43]:
print(confusion_matrix(y_pred,y_test))

[[2 1]
 [0 0]]

In [47]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           2       0.67      1.00      0.80         2
           3       0.00      0.00      0.00         1

    accuracy                           0.67         3
   macro avg       0.33      0.50      0.40         3
weighted avg       0.44      0.67      0.53         3

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))